.header {
    &__main {
        display: flex;
        align-items: center;
        background-color: #4D587D;
        color: #ffffff;
        padding: 12px 20px;
        &.header__noBg {
            color: #000000;
            background-color: transparent;
        }
    }
    &__back {
        width: 12px;
        padding: 0 12px 0 0;
    }
    &__icon {
        > img {
            width: 40px;
            border-radius: 50%;
        }
    }
    &__textual {
        margin-left: 12px;
        width: 75%;
    }
    &__title {
        font-size: 16px;
        font-weight: 500;
    }
    &__subTitle {
        font-size: 12px;
        font-weight: 400;
    }

}