.chatroom {
    background-color: #EDF0F4;
    padding: 24px;
    min-height: 100vh;
    @media (max-width: 768px) {
        padding: 0;
        background-color: #ffffff;
    }
    &__main {
        color: #000000;
        background-color: #ffffff;
        @media (min-width: 769px) {
            max-width: 745px;
            margin: 0 auto;
        }
    }
    &__content {
        padding: 16px 20px 68px;
        max-height: 70vh;
        overflow: auto;
    }
}

.inforOverlay {
    position: fixed;
    display: block;
    text-align: center;
    padding: 44px 16px 20px;
    height: 100vh;
    background-color: #fff;
    z-index: 3;
    @media (min-width: 769px) {
        display: none;
    }
    &.hideInforOverlay {
        display: none;
    }
    &__title {
        font-size: 24px;
        font-weight: 600;
        color: #000000;
    }
    &__subTitle {
        position: relative;
        font-size: 14px;
        font-weight: 400;
        padding: 0 0 32px;
        margin: 0 0 28px;
        color: #000000;
    }
    &__separator {
        background-color: #000000;
        width: 25%;
        height: 2px;
        margin: 0px;
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        border: none;
    }
    &__desc {
        font-size: 14px;
        font-weight: 400;
        color: #333333;
        line-height: 24px;
        margin-bottom: 16px;
    }
    &__reasonList {
        list-style-image: url('https://res.cloudinary.com/abyy30/image/upload/v1608320518/Tick-circle_r3tqlo.png');
        font-size: 14px;
        font-weight: 400;
        color: #333333;
        li {
            margin-bottom: 20px;
            text-align: left;
            &:marker {
                padding-top: 4px;
            }
        }
    }
}